<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Almusafir Direct</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Almusafir Direct</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MGLMapboxMetricsEnabledSettingShownInApp</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>يستخدم التطبيق الكاميرا لالتقاط صورة جديدة لتحديث صورة الحساب الخاصة بك، وأيضًا لتصوير الصور للاستخدام في طلبك.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>We need access to your documents to open files.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>يحتاج التطبيق إلى الوصول إلى موقعك الجغرافي لعرض المتاجر المجاورة وتوفير معلومات حول الموقع والاتجاهات لكل متجر.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>يحتاج التطبيق إلى الوصول إلى موقعك الجغرافي لتمكينك من تحديد موقعك واستخدام هذه المعلومات في تجربتك مع التطبيق.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>يحتاج التطبيق إلى الوصول إلى موقعك الجغرافي لعرض المتاجر المجاورة وتوفير معلومات حول الموقع والاتجاهات لكل متجر.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>يحتاج التطبيق إلى الوصول إلى مكتبة الصور الخاصة بك لتحميل صورة من مكتبة الصور لتحديث صورة الحساب واستخدامها في الطلب.</string>
	<key>NSPrivacyAccessedAPITypes</key>
	<array>
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategoryDiskSpace</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string>App requires access to disk space to write files or crop images.</string>
			</array>
		</dict>
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategoryUserDefaults</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string>We are using this API to store data locally.</string>
			</array>
		</dict>
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategoryFileTimestamp</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string>We are accessing files to update user profile pictures.</string>
			</array>
		</dict>
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPICategorySystemBootTime</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string>We are using this API to obtain the current system date.</string>
			</array>
		</dict>
	</array>
	<key>NSPrivacyTracking</key>
	<false/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
